# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
.pnpm-store

# Dist
dist
dist-ssr
build

# Local env files
.env
.env.local
.env.*.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/
cypress/videos
cypress/screenshots

# TypeScript
*.tsbuildinfo

# Prettier
.prettiercache

# ESLint
.eslintcache

# Production
*.production
